@model BYR.Models.User
<!-- Top content -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
<link rel="stylesheet" href="~/Content/css/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/css/assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/css/assets/css/animate.css">
<link rel="stylesheet" href="~/Content/css/assets/css/style.css">
<link rel="stylesheet" href="~/Content/css/assets/css/media-queries.css">
<script src="~/Content/css/assets/js/jquery-1.11.1.min.js"></script>

<div class="top-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 r-form-1-box wow fadeInUp">
                <div class="r-form-1-top">
                    <div class="r-form-1-top-left">
                        <h3>Forget Password</h3>
                        <p>Fill in the form below to get instant access:</p>
                    </div>
                    <div class="r-form-1-top-right">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
                <div class="r-form-1-bottom">

                    @using (Html.BeginForm("CheckUserName", "Home", FormMethod.Post, new { Id = "forget" }))
                    {
                        <div class="form-group">
                            @Html.TextBoxFor(m => Model.username, new { @placeholder = "Username...", @class = "form-control", Id = "usernameF", @required = "required" })

                        </div>

                        <div id="secrQ">Secret Question :</div>


                        <div id="secrQuestion"></div>
                            <div class="form-group">
                                @Html.PasswordFor(m => Model.secA, new { @placeholder = "Secret Answer...", @class = "form-control", Id = "seqF", @required = "required" })
                            </div>

                            <div align="center" id="msgbox3"></div>
                                <button id="forgetBtn" type="submit" class="btn">Find Your Password!</button>
                    }




                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#secrQuestion').hide();
        $('#secrQ').hide();
        $('#seqF').hide();
        $('#forgetBtn').hide();

        $('#usernameF').focusout(function () {

            var userName = $('#usernameF').val();
            if (userName != "") {



                $.getJSON("/Home/CheckUserName?UserName=" + userName, function (data) {

                    if (data != "No") {

                        $("#secrQuestion").fadeTo(200, 0.1, function () {
                            $('#secrQ').show();
                            $('#secrQuestion').show();
                            $('#seqF').show();
                            $('#forgetBtn').show();
                            $(this).html(data).removeClass().addClass('myerror').fadeTo(900, 1);
                        });

                    }
                    else {

                        $("#secrQuestion").fadeTo(200, 0.1, function () {
                            $('#secrQuestion').show();
                            $(this).html('Username not Found').removeClass().addClass('myerror').fadeTo(900, 1);
                        });

                    }
                });
            }
        });

        $('#forget').submit(function () {

            var userName = $('#usernameF').val();
            var question = $('#secrQuestion').text();
            var anwser = $('#seqF').val();
            //remove previous class and add new "myinfo" class

            $('#msgbox3').removeClass().addClass('myinfo').text('Trying to Match.. ').fadeIn(1000);
            this.timer = setTimeout(function () {
                $.getJSON("/Home/CheckSecretAnswer?UserName=" + userName + "&secretQ=" + question + "&secretA=" + anwser, function (data) {

                    if (data != "No") {

                        $("#msgbox3").fadeTo(200, 0.1, function () {
                            $(this).html('Your Password is : ' + data).removeClass().addClass('myerror').fadeTo(900, 1);
                        });

                    }
                    else {

                        $("#msgbox3").fadeTo(200, 0.1, function () {
                            $(this).html('Answer Dont Match Try Again').removeClass().addClass('myerror').fadeTo(900, 1);
                        });

                    }
                });

            }, 200);
            return false;
        });


    });

</script>



<script src="~/Content/css/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/css/assets/js/jquery.backstretch.min.js"></script>
<script src="~/Content/css/assets/js/wow.min.js"></script>
<script src="~/Content/css/assets/js/retina-1.1.0.min.js"></script>
<script src="~/Content/css/assets/js/scripts.js"></script>